<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Greymind</title>
</head>

<body>
    <div id="app">
    </div>

    <!--<pre>
        <%= JSON.stringify(htmlWebpackPlugin, null, 2) %>
        <%= JSON.stringify(webpackConfig, null, 2) %>
    </pre>-->

    <% if (htmlWebpackPlugin.options.env === "production") { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
        <% } else { %>
            <script src="../../node_modules/react/dist/react.js"></script>
            <script src="../../node_modules/react-dom/dist/react-dom.js"></script>
            <% } %>

</body>

</html>